name: Nix Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  nix-build:
    name: Build with Nix
    runs-on: cluster-runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Necessary for installing nix (alternative: create a custom gh runner image)
      - name: Install xz
        run: |
          sudo apt-get update
          sudo apt-get install -y xz-utils

      - name: Install nix
        uses: cachix/install-nix-action@7be5dee1421f63d07e71ce6e0a9f8a4b07c2a487 # v31.6.1

      - run: nix build
